snippet rmr "RM Round Template" b
# General questions
$0
## Short intro - to explain who I am (we are, when we are more RMs), what the discussion is about, explain project portfolio concept and FS background projects, role of the RM in relation with the candidate

## How we found you ‚Äì this is to validate who contacted him first, whether he/she was motivated to find us, what role he/she applied to

## Work type ‚Äì this is to cover the current role. We are focusing here on the specifics of the role/technologies/frameworks used, sometimes go into detail to match the person to a specific role we think might be suitable. If it‚Äôs a front to back candidate for example we ask for their preference as well.

## Where would you imagine yourself in 2 years: understand plans, motivation, whether they are willing to invest time/effort to get promoted, shift their career etc.

## Team structure/size: focusing on communication with customer, inter-team communication aspects, split team models, structure/roles in the team.

## RFL: to get an understanding of why they would change jobs, possible points to convince them to join EPAM. Other companies vs EPAM. Get a sense whether they had more serious issues with their current employer or conflicts.

## What is your dream project ?

## What‚Äôs the proportion in your time between technical bugs and new feature?

## What book did you read lately?

## Do you participate in online courses?


# CI: usually important on all projects, should have basic understanding

## What CI tools do you know?

## What is the need to use CI in projects ?
## What is Maven ?

## What is static code analysis ?

## English level: switch to English and confirm level (when seemingly poor grade is given during HR round, 2 or 2.5), especially for BAs or more serious roles


## Coordination/leadership: where this applies, ask about specifics in detail if candidate has relevant experience mentoring/coaching or leading a team. Go further into conflict management, different challenges they faced while in the role.

## Mentor

## What is the good/bad leader/manager: to get a sense of their expectations, possible issues/problems they have with their current employer/team leader/manager


## Self-assessment: - straightforward

### Positive:

### Improvement points:


## What he/she doesn‚Äôt like: important to understand what areas they would absolutely hate working with (not assign someone to support tasks if they are looking for Greenfield projects). E.g. for manual/automation testers we focus on the reporting/test plan/strategy related documentation as well for a certain seniority because it is usually required

## Mistakes: we ask them to give at least one example

## Self-development: to get a sense of how they acquired the current knowledge in the field, understand the importance of trainings/certifications for the candidate, type of background they have (identify tech savvy engineers for example, or even the more social ones who attend conferences/meetups and enjoy to network/blog etc.)


# Administrative questions:

## Work permit

## Travel

## Aprox

## Salary

## Bank: any background issues/contract? We explain the NDA, background check, credit check, check their current contract specifics to make sure there are no clauses in there that prevent them from working for UBS/any other account we have, study contracts

## Notice: straightforward

## Offer decision: we explain that TA gives out the offer but we agree on the specifics, ask for how much time they need to make a decision to understand whether they have other running interviews/applications with other companies
endsnippet

